%body
  .Side-bar
    .Side-bar__User-names
      .Side-bar__User-names__Top-items
        %h3.Side-bar__User-names__Top-items__Name
          name
        %ul.Side-bar__User-names__Top-items__Icon-list
          %li.Side-bar__User-names__Top-items__Icon-list__Icon
            = icon("far", "edit", class: 'strong')
          %li.Side-bar__User-names__Top-items__Icon-list__Icon
            = icon("fas", "cog", class: 'strong')
    .Side-bar__Group-list
      .Side-bar__Group-list__Group
        test